.card-desc {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 13px;
}

.price {
    font-size: 14px;
    font-weight: normal;
}

.card-desc * {
    margin-bottom: 13px;
}